.main_padding-top
	padding-top: 185px
	&-small
		padding-top: 105px

+media-breakpoint-down(xl)
	.main_padding-top
		padding-top: 145px
		&-small
			padding-top: 90px

+media-breakpoint-down(lg)
	.main_padding-top
		padding-top: 105px
		&-small
			padding-top: 70px

+media-breakpoint-down(sm)
	.main_padding-top
		padding-top: 75px
		&-small
			padding-top: 50px