div.wpcf7 .ajax-loader
	display: none

div.wpcf7-response-output
	margin: 0.5em .5em 1em
	font-size: 0.8em

span.wpcf7-not-valid-tip
	margin-bottom: 10px
	font-size: 0.8em

.form-bg
	.wpcf7-form-control-wrap
		margin-bottom: 15px
		display: block
		.input
			margin-bottom: 5px

/*	.wpcf7-form-control-wrap
		position: static!important

	.wpcf7-form.contacts-form
		position: relative

	div.wpcf7-response-output
		margin: 15px 0 10px

	span.wpcf7-not-valid-tip
		position: absolute!important
		width: 100%!important
		text-align: center!important

	div.wpcf7-validation-errors,
	div.wpcf7-acceptance-missing
		position: absolute
		width: 100%
		text-align: center

	+media-breakpoint-down(md)
		div.wpcf7-acceptance-missing,
		div.wpcf7-validation-errors
			position: static

		.contacts-form-label
			margin-bottom: 25px

	+media-breakpoint-down(sm)
		span.wpcf7-not-valid-tip
			position: relative!important

		.contacts-form-label
			margin-bottom: 10px

		.contacts-form-label__input
			width: 100%