.btn
	display: inline-block
	vertical-align: middle
	padding: 8px 16px
	box-sizing: border-box
	text-align: center
	font-size: 30px
	line-height: 30px
	color: $text-medium
	background-color: $dark
	border: 0
	border-radius: 5px
	cursor: pointer
	transition: .25s
	&:hover
		text-decoration: none
		color: $accent
		background-color: darken($dark, 5)

	&_block
		width: 100%

	&_small
		font-size: 23px
		color: $text-light
		white-space: nowrap